<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fortlaufende Uhrzeit und Pausenzeit</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}"> <!-- Verlinkung zur CSS-Datei -->
</head>
<body>
    <div id="container">
        <h1>Fortlaufende Uhrzeit und Pausenzeit</h1>
        <p id="timeDisplay"></p>
        <p id="pauseDisplay"></p>
    </div>

    <script>
        function updateTime() {
            fetch('/get_time')
                .then(response => response.json())
                .then(data => {
                    document.getElementById('timeDisplay').innerText = 'Aktuelle Uhrzeit: ' + data.time;
                    setTimeout(updateTime, 1000); // Aktualisieren alle 1000 Millisekunden (1 Sekunde)
                });
        }

        function updatePause() {
            fetch('/zeiten')
                .then(response => response.text())
                .then(data => {
                    document.getElementById('pauseDisplay').innerText = data;
                    setTimeout(updatePause, 1000); // Aktualisieren alle 1000 Millisekunden (1 Sekunde)
                });
        }

        updateTime(); // Starten Sie die Aktualisierung der Uhrzeit beim Laden der Seite
        updatePause(); // Starten Sie die Aktualisierung der Pausenzeit
    </script>
</body>
</html>
